---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Our variables
$base-font-family: "helvetica neue", helvetica, arial, sans-serif;
$base-font-size:   16px;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       #111;
$background-color: #eaeaea;
$brand-color:      #2a7ae2;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

$content-width:    800px;
$content-height:    800px;

$on-laptop:    800px;
$on-palm:          600px;


// footer
$footer-color: #555;

$break-small: 320px;
$break-medium: 768px;
$break-large: 1200px;


// Using media queries with like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}



// Import partials from `sass_dir` (defaults to `_sass`)
@import "reset",
        "base",
        "layout",
        "fonts"
;

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  }

html, body, * {
  -webkit-font-feature-settings: "kern" 1, "liga" 1, "clig" 1;
  -ms-font-feature-settings: "kern" 1, "liga" 1, "clig" 1, "locl";
  -moz-font-feature-settings: "kern" 1, "liga" 1, "clig" 1;
  font-feature-settings: "kern" 1, "liga" 1, "clig" 1, "locl";
  }

body {
  background: #eaeaea;
  -webkit-text-size-adjust: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

footer { padding: 50px; text-align: center;

  p {
    color: $footer-color;
    font: 400 16px/1 'open sans';
    margin: 0 0 2em 0;

    a {
      color: $footer-color;
      font-weight: 700;

      &:hover {
        color: #000;
      }
    }
  }
}

.pages {
}

.page {
  &.title {
    background: #fff;
    padding: 125px 0 250px 0;
    }

  &#pangram {
    background-image: linear-gradient(
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.5)
    ),
    url('../img/pangram-bg.jpg');
    padding: 6em 0.5em;

    .text {
      margin: 0 auto;
      max-width: $content-width;

      p {
        font: 24px/1.7 'NKSSmart4', 'Cherry Unicode';
        letter-spacing: -1px;
        color: #eee;

          &:nth-child(1) {
            text-indent: 10%;
          }
          &:nth-child(2) {
            text-indent: 15%;
          }
          &:nth-child(3) {
            text-indent: 20%;
          }
          &:nth-child(4) {
            text-indent: 25%;
          }
          &:nth-child(5) {
            text-indent: 30%;
          }
          &:nth-child(6) {
            text-indent: 35%;
          }
          &:nth-child(7) {
            text-indent: 40%;
          }
          &:nth-child(8) {
            text-indent: 45%;
          }
        }

      }

    }

  &#poem-1 {
    background: #2A2C39;
    padding: 250px 0;

    .text {
      margin: 0 auto;
      padding: 0 20px;
      max-width: $content-width;

      h3 {
        color: #e9e9eb;
        margin: 0 0 40px 0;
        text-align: left;
        text-indent: -10px;
        font: 48px/1.6 'Myanmar Gantgaw';
      }

      p {
        color: #e9e9eb;
        font: 24px/2.0 'Padauk-Regular';

      }
    }

  }

  &#sai-sai {
    background: #000;
    padding: 300px 0;

    .text {
      max-width: $content-width;
      text-align: center;
      margin: 0 auto;
      padding: 0 20px;

      p {
        font:  72px/1.8 'Noto Sans Myanmar';
        color: #fff;
        margin: 0 0 20px 0;
        }
      }
    }

  &#byu {
    background: #fff;
    padding: 200px 0;

    .text {
      margin: 0 auto;
      padding: 0 18px;
      max-width: $content-width;
      font: 400 18px/1.9 'Ours-Unicode';
      position: relative;

      h2 {
          color: #222;
          font: 400 60px/1.1 'Myanmar Kuttar';
          margin: 0 0 36px 0;
          text-align: center;
          max-width: $content-width;

          .author {
            font: lighter 56px/1 'Myanmar Gantgaw';
            position: relative;
            top: -36px;
            }
          }

      h3 {
        border-top: 1px solid #222;
        color: #222;
        margin: 0 0 50px 0;
        text-align: center;

        span {
          font-family: 'Myanmar Gantgaw';
          background: #fff;
          padding: 0 16px;
          position: relative;
          top: -15px;
          letter-spacing: 3px;
          }
        }

      .excerpt {
        -moz-column-count: 2;
        -moz-column-gap: 50px;
        -webkit-column-count: 2;
        -webkit-column-gap: 50px;
        p {

          }
        }
      }
    }

  &#poem-2 {
    background-image: linear-gradient(
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.5)
    ),
    url('../img/emo_cave.jpeg');
    padding: 200px 0;
    background-size: cover;

    .text {
      max-width: $content-width;
      margin: 0 auto;
      font: 36px/1.6 'Myanmar Pixel Smooth';
      color: #eee;
    }
  }

  &#nyan-g-shin {
    background: #F15A24;
    padding: 0 0 200px 0;

    .text {
      max-width: $content-width;
      margin: 0 auto;
      font: 400 28px/1.7 'Myanmar Sagar';
      color: #222;

      h1 {
        float: left;
        padding: 200px 25px 0 0;
        margin: 0 0px 0 0;
        max-width: 240px;
        text-align: right;
        }

      h2 {
        border-left:8px solid #242526;
        float: left;
        padding: 200px 0 0 25px;
        max-width: auto;
        }
      p {
        clear: left;
        font-style: normal;
        margin: 0 0 0 250px;
        }
      }
    }

  &#j-me {
    background-image: linear-gradient(
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.5)
    ),
    url('../img/cloud.jpg');
    padding: 200px 0;
    background-size: cover;

    .text {
      color: #efeaff;
      max-width: $content-width;
      margin: 0 auto;
      font: 60px 'Myanmar Sagar';
      text-align: center;
      line-height: 1.9;

      span {
        // font: 50px 'Ours-Unicode';
        }
      }
    }

  &#poem-3 {
    background: #ffffff;
    padding: 250px 0;
    .text {
      max-width: $content-width;
      text-align: right;
      margin: 0 auto;
      h3 {
        font-family: 'Myanmar Njaun';
        color: #CC3311;
        font-size: 84px;
        line-height: 1.4;
        margin: 0 0 20px 0;
        text-indent: -10px;
      }

      p {
        color: #333;
        margin: 0 0 10px 0;
        line-height: 2;
        font: 36px/2 'Myanmar Sabae';
        letter-spacing: 1px;
        //text-indent: -6px;
      }
    }
 }

  &#akwyin-mashi {
    background: #4e081b;
    padding: 200px 0;

    .text {
      margin: 0 auto;
      padding: 0 20px;
      text-align: left;
      max-width: $content-width;

      li {
        color: #fff;
        font: 100 84px/1.7 'ThanLwin Light', 'ThanLwin';
        letter-spacing: 2px;

        &:nth-child(1) {
          opacity: 0.2;
          }
        &:nth-child(2) {
          opacity: 0.4;
          }
        &:nth-child(3) {
          opacity: 0.6;
          }
        &:nth-child(4) {
          opacity: 0.8;
          }
        &:nth-child(5) {
          opacity: 1;
          }
        }
}
    }

  &#poem-4 {
    background-image: linear-gradient(
    rgba(0, 0, 0, 0.3),
    rgba(0, 0, 0, 0.3)
    ),
    url('../img/rain.jpg');
    padding: 200px 0;
    background-size: cover;


    .text {
      color: #efeaff;
      text-align: right;
      max-width: $content-width;
      margin: 0 auto;
      font: 30px/1.6 'Myanmar Njaun';
      margin-right: 10%;
      p:nth-child(2) {
        margin-top: 50px;
      }
      .moe {
        color: #DECDB9;
      }

    }
  }

  &#myat-noe-wai {
      background: #000;
      padding: 2rem 0;
      .text {
          max-width: $content-width;
          margin: 0 auto;
          padding: 0 20px;

          h3 {
              color: #fff;
              font-size: 60px;
              line-height: 1.6;
              margin: 0 0 30px 0;
              font-family: 'Kamjing-2', serif;
              text-align: left;

          }

          p {
              color: #fff;
              font: 18px/2.0 'Masterpiece Uni Round';
          }
      }

  }

  &#poem-5 {
    background: #212221;
    padding: 125px 180px;
    .text {
      max-width: $content-width;
      margin: 0 auto;

      h3 {
        color: #886655;
        font: 42px/1.8 'Myanmar Ponenyet';
        letter-spacing: -1px;
      }

      p {
        color: #9D9E9D;
        font: 400 24px/1.8 'Parabaik';
      }
    }
  }

  &#ayelinhtut {
    background: #FCFAF2;
    padding: 125px 180px;
    .text {
      max-width: $content-width;
      margin: 0 auto;

      .first, .second {
        color: #333;
        font: 400 24px/1.8 'NKSSmart3';
        //text-shadow: 1px 1px 1px #333;
      }

      .third, .fourth {
        font: 24px/1.8 'Noto Sans Myanmar UI';
      }
    }
  }

  &#waitzar {
      background-image: linear-gradient(
      rgba(0, 0, 0, 0.6),
      rgba(0, 0, 0, 0.6)
      ),
      url('../img/evening.jpg');
      padding: 300px 0;
      background-size: cover;

    .text {
      max-width: $content-width;
      margin: 0 auto;

      p {
        .first-word {
          float: left;
          color: #DE372F;
          font: 75px/60px 'Kamjing-2';
          padding: 4px 8px 12px 3px;
        }

        color: #eee;
        font: 24px/1.85 'Pyidaungsu';
      }
    }
  }

}

@media screen and (min-width: $on-palm) {
  .page {
    &#myat-noe-wai {
      p {
        text-align: justify;
      }
    }
  }

}
