---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Our variables
$base-font-family: "Unica One", "Helvetica Neue Light", helvetica, arial, sans-serif;
$base-font-size:   16px;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       #111;
$background-color: #eaeaea;
$brand-color:      #2a7ae2;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

$content-width:    800px;
$content-height:    800px;

$on-laptop:    800px;
$on-palm:      600px;


// footer
$footer-color: #555;

$break-small: 320px;
$break-medium: 768px;
$break-large: 1200px;


// Using media queries with like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}



// Import partials from `sass_dir` (defaults to `_sass`)
@import "reset",
        "base",
        "layout",
        "fonts"
;

* {
  -webkit-font-feature-settings: "kern" 1, "liga" 1, "clig" 1;
  -ms-font-feature-settings: "kern" 1, "liga" 1, "clig" 1, "locl";
  -moz-font-feature-settings: "kern" 1, "liga" 1, "clig" 1;
  font-feature-settings: "kern" 1, "liga" 1, "clig" 1, "locl";
  -webkit-text-size-adjust: 100%;
}


a {
  color: inherit;
  text-decoration: none;
}

footer {
  padding: 50px;
  text-align: center;
  p {
    color: $footer-color;
    font: 400 16px/1 'open sans';
    margin: 0 0 2em 0;
    a {
      color: $footer-color;
      font-weight: 700;
      &:hover { color: #000; }
    }
  }
}

.pages {
}

.page {
  .text {
    max-width: $content-width;
    margin: 0 auto;
    padding: 15.625rem 0;
  }

  &.title {
    background: #fff;
    padding: 125px 0 250px 0;
  }

  small {
    display: block;
    text-align: right;
    padding: 0 1.625em 1.625em 0;
    color: #fff;
    a {
      color: #fff;
      text-decoration: none;
    }
  }

  &#pangram {
    background-image: linear-gradient(
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.5)
    ),
    url('../img/pangram-bg.jpg');

    .text {
      $font: 'NKSSmart4';
      p {
        font: 24px/1.7 $font;
        letter-spacing: -1px;
        color: #eee;
          &:nth-child(1) { text-indent: 5%; }
          &:nth-child(2) { text-indent: 10%; }
          &:nth-child(3) { text-indent: 15%; }
          &:nth-child(4) { text-indent: 20%; }
          &:nth-child(5) { text-indent: 25%; }
          &:nth-child(6) { text-indent: 30%; }
          &:nth-child(7) { text-indent: 35%; }
          &:nth-child(8) { text-indent: 40%; }
        }
      }
    }

  &#linn-yar {
    $font: 'Myanmar Pixel Smooth';
    background-image: linear-gradient(
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.5)
    ),
    url('../img/emo_cave.jpeg');
    background-size: cover;
    .text {
      letter-spacing: 1px;
      p {
        color: #eee;
        font: 24px/1.6 $font;
      }

    }
  }

  &#poem-1 {
    $font1: 'Myanmar Gantgaw';
    $font2: 'Padauk-Regular';
    background: #2A2C39;
    .text {
      h3 {
        color: #e9e9eb;
        text-align: left;
        text-indent: -10px;
        font: 48px/1.6 $font1;
      }
      p {
        color: #e9e9eb;
        font: 24px/2.0 $font2;
      }
    }
  }

  &#sai-sai {
    $font: 'Noto Sans Myanmar';
    background: #000;
    .text {
      text-align: center;
      p {
        font:  48px/1.8 $font;
        color: #fff;
        margin: 0 0 20px 0;
        }
      }
    }

  &#byu {
    $font1: 'Ours-Unicode';
    $font2: 'Myanmar Kuttar';
    $font3: 'Myanmar Gantgaw';
    background: #fff;
    .text {
      font: 400 18px/1.9 $font1;
      h2 {
        color: #222;
        font: 400 60px/1.1 $font2;
        margin: 0 0 36px 0;
        text-align: center;
        .author {
          font: 56px/1 $font3;
          position: relative;
        }
      }
      h3 {
        border-top: 1px solid #222;
        color: #222;
        margin: 0 0 50px 0;
        text-align: center;
        span {
          font-family: $font3;
          background: #fff;
          padding: 0 16px;
          top: -15px;
          letter-spacing: 3px;
          }
        }

      .excerpt {
        -moz-column-count: 2;
        -moz-column-gap: 50px;
        -webkit-column-count: 2;
        -webkit-column-gap: 50px;
        }
      }
      small, small a {
        color: #222;
      }
    }

  &#poem-2 {
    $font: 'Myanmar Angoun';
    background-image: linear-gradient(
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.5)
    ),
    url('../img/sea.jpg');
    background-size: cover;
    .text {
      p {
        font: 25px/2.0 $font;
        color: #ddd;
      }
    }
  }

  &#nyan-g-shin {
    $font1: 'Myanmar Sans Pro';
    background: rgba(241, 90, 36, 1);
    .text {
      font: 28px/2.0 $font1;
      color: #222;
      p {
        &:first-child {
          float: left;
          min-width: 240px;
        }
        &:nth-child(2) {
          border-left:8px solid #242526;
          margin-left: 240px;
          padding-left: 2em;
        }
      }
      .clearfix { clear: both; }
    }
    small, small a { color: #222; }
  }

  &#j-me {
    $font: 'Myanmar Sagar';
    background-image: linear-gradient(
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.5)
    ),
    url('../img/cloud.jpg');
    background-size: cover;
    .text {
      color: #efeaff;
      font: 60px/1.9 $font;
      text-align: center;
      }
    }

  &#poem-3 {
    $font1: 'Myanmar Njaun';
    $font2: 'Myanmar Sabae';
    background: #ffffff;
    .text {
      text-align: right;
      .title {
        font: 84px/1.4 $font1;
        color: #CC3311;
        margin: 0 0 20px 0;
        text-indent: -10px;
      }
      p {
        color: #333;
        margin: 0 0 10px 0;
        font: 36px/2 $font2;
        letter-spacing: 1px;
      }
    }
    small, small a { color: #cc3311; }
   }

  &#akwyin-mashi {
    $font: 'ThanLwin Light', 'ThanLwin';
    background: #4e081b;
    .text {
      li {
        color: #fff;
        font: 100 60px/1.7 $font;
        letter-spacing: 2px;
        &:nth-child(1) { opacity: 0.2; }
        &:nth-child(2) { opacity: 0.4; }
        &:nth-child(3) { opacity: 0.6; }
        &:nth-child(4) { opacity: 0.8; }
        &:nth-child(5) { opacity: 1; }
      }
    }
  }

  &#poem-4 {
    $font: 'Myanmar HeadOne';
    background-image: linear-gradient(
    rgba(0, 0, 0, 0.3),
    rgba(0, 0, 0, 0.3)
    ),
    url('../img/girl.jpeg');
    background-size: cover;

    .text {
      color: #efeaff;
      text-align: right;
      font: 30px/1.8 $font;
      margin-right: 10%;
      p:nth-child(2) {
        margin-top: 50px;
      }
      .moe {
        color: #DECDB9;
      }

    }
  }

  &#poem-5 {
    $font1: 'Myanmar Ponenyet';
    $font2: 'Myanmar Text';

    background: #212221;
    .text {
      h3 {
        color: #886655;
        font: 42px/1.8 $font1;
      }
      p {
        color: #9D9E9D;
        font: 400 24px/2.0 $font2;
      }
    }
  }

  &#ayelinhtut {
    $font: 'NKSSmart3';
    background-image: linear-gradient(
    rgba(0,0,0,0.3),
    rgba(0,0,0,0.3)
    ), url('../img/forest.jpg');
    .text {
      p {
        color: #fff;
        font: 24px/3.0 $font;
        letter-spacing: 4px;
      }
    }
  }

  &#waitzar {
      background-image: linear-gradient(
      rgba(0, 0, 0, 0.6),
      rgba(0, 0, 0, 0.6)
      ),
      url('../img/evening.jpg');
      padding: 300px 0;
      background-size: cover;

    .text {
      p {
        .first-word {
          float: left;
          color: #DE372F;
          font: 75px/60px 'Kamjing-2';
          padding: 4px 8px 12px 3px;
        }

        color: #eee;
        font: 24px/1.85 'Pyidaungsu';
      }
    }
  }

  &#song {
    $font: 'Myanmar Pauklay';
    background-image: linear-gradient(
    rgba(0, 0, 0, 0.6),
    rgba(0, 0, 0, 0.6)
    ),
    url('../img/evening.jpg');
    background-size: cover;
    .text {
      max-height: 10rem;
      p {
        font: 26px $font;
        letter-spacing: 5px;
        text-indent: 50px;
        color: #eee;
        &.second {
          text-indent: 65px;
        }
      }
    }
  }
  small, small a { color: #eee; }
}

@media screen and (min-width: $on-palm) {
  .page {
    &#sai-sai {
      p { font-size: 72px !important; }
    }
    &#byu {
      .author {
        top: -50px;
        left: -10px;
      }
    }
  }
  .mobile-break { display: none; }
}
