
@mixin font-face($style-name, $file, $family, $weight:"", $style:"") {
    $filepath: "../fonts/" + $family + "/" + $file;
    @font-face {
        font-family: "#{$style-name}";
        @if $weight != "" {
        font-weight: $weight;
        }
        @if $style != "" {
        font-style: $style;
        }
        src: url($filepath + ".woff") format('woff'),
             url($filepath + ".ttf")  format('truetype'),
             url($filepath + ".svg#" + $style-name) format('svg');
    }
}


@include font-face('Cherry Unicode', 'CherryUnicode', 'CherryUnicode');
@include font-face('Kamjing-2', 'Kamjing-2', 'Kamjing-2');
@include font-face('Masterpiece Uni Round', 'MasterpieceUniRound', 'MasterpieceUniRound');
@include font-face('Masterpiece Uni Sans', 'MasterpieceUniSans', 'MasterpieceUniSans');
@include font-face('MON3 Anonta', 'MON3Anonta1', 'MON3Anonta1');
@include font-face('Myanmar3', 'Mm3Web', 'Mm3Web');
@include font-face('Myanmar Angoun', 'MyanmarAngoun', 'MyanmarAngoun');
@include font-face('Myanmar Black', 'MyanmarBlack', 'MyanmarBlack');
@include font-face('Myanmar Census', 'MyanmarCensus', 'MyanmarCensus');
@include font-face('Myanmar Gantgaw', 'MyanmarGantgaw', 'MyanmarGantgaw');
@include font-face('Myanmar HeadOne', 'MyanmarHeadOne', 'MyanmarHeadOne');
@include font-face('Myanmar Khyay', 'MyanmarKhyay', 'MyanmarKhyay');
@include font-face('Myanmar Kuttar', 'MyanmarKuttar', 'MyanmarKuttar');
@include font-face('Myanmar MN', 'MyanmarMN', 'MyanmarMN');
@include font-face('Myanmar MN', 'MyanmarMN-Bold', 'MyanmarMN', 'bold');
@include font-face('Myanmar Nayone', 'MyanmarNayone', 'MyanmarNayone');
@include font-face('Myanmar Njaun', 'MyanmarNjaun', 'MyanmarNjaun');
@include font-face('Myanmar Pauklay','MyanmarPauklay', 'MyanmarPauklay');
@include font-face('Myanmar Pixel', 'MyanmarPixel', 'MyanmarPixel');
@include font-face('Myanmar Pixel Smooth', 'MyanmarPixelSmooth', 'MyanmarPixelSmooth');
@include font-face('Myanmar Phetsot', 'MyanmarPhetsot', 'MyanmarPhetsot');
@include font-face('Myanmar Ponenyet', 'MyanmarPonenyet', 'MyanmarPonenyet');
@include font-face('Myanmar Sabae', 'MyanmarSabae', 'MyanmarSabae');
@include font-face('Myanmar Sagar', 'MyanmarSagar', 'MyanmarSagar');
@include font-face('Myanmar Square', 'MyanmarSquare', 'MyanmarSquare');
@include font-face('Myanmar Square Light', 'MyanmarSquareLight', 'MyanmarSquareLight');
@include font-face('Myanmar Sangam MN', 'MyanmarSangamMN', 'MyanmarSangamMN');
@include font-face('Myanmar Sans Pro', 'MyanmarSansProRegular', 'MyanmarSansProRegular');
@include font-face('Myanmar Tagu', 'MyanmarTagu', 'MyanmarTagu');
@include font-face('Myanmar Text', 'MyanmarText', 'MyanmarText');
@include font-face('Myanmar Pauklay', 'MyanmarPauklay', 'MyanmarPauklay');
@include font-face('Myanmar Yinmar', 'MyanmarYinmar', 'MyanmarYinmar');
@include font-face('MyMyanmar Universal', 'MyMyanmarUniversal', 'MyMyanmarUniversal');
@include font-face('NamKhoneUnicode', 'NamKhoneUnicode', 'NamKhoneUnicode');
@include font-face('NKSSmart2', 'NKSSmart2', 'NKSSmart2');
@include font-face('NKSSmart3', 'NKSSmart3', 'NKSSmart3');
@include font-face('NKSSmart4', 'NKSSmart4', 'NKSSmart4');
@include font-face('Padauk-Regular', 'Padauk-Regular', 'Padauk');
@include font-face('Padauk', 'Padauk-Bold', 'Padauk', 'bold');
@include font-face('Parabaik', 'Parabaik', 'Parabaik');
@include font-face('Pyidaungsu', 'Pyidaungsu', 'Pyidaungsu');
@include font-face('Noto Sans Myanmar', 'NotoSansMyanmar-Regular', 'NotoSansMyanmar');
@include font-face('Noto Sans Myanmar Bold', 'NotoSansMyanmar-Bold', 'NotoSansMyanmar', 'bold');
@include font-face('Noto Sans Myanmar UI', 'NotoSansMyanmarUI', 'NotoSansMyanmarUI');
@include font-face('Noto Sans Myanmar UI', 'NotoSansMyanmarUI-Bold', 'NotoSansMyanmarUI', 'bold');
@include font-face('Ours-Unicode', 'Ours-Unicode', 'Ours-Unicode');
@include font-face('Tharlon', 'Tharlon', 'Tharlon');
@include font-face('ThanLwin', 'ThanLwin', 'ThanLwin');
@include font-face('ThanLwin', 'ThanLwin-Bold', 'ThanLwin', 'bold');
@include font-face('ThanLwin Fixed', 'ThanLwinFixed', 'ThanLwinFixed');
@include font-face('ThanLwin Fixed', 'ThanLwinFixed-Bold', 'ThanLwinFixed', 'bold');
@include font-face('ThanLwin Light', 'ThanLwinLight', 'ThanLwinLight');
@include font-face('Yangon', 'Yangon', 'Yangon');