
@font-face {
  font-family: 'MasterpieceUniRound';
  src: url('MasterpieceUniRound.eot?#iefix') format('embedded-opentype'),  url('MasterpieceUniRound.woff') format('woff'), url('MasterpieceUniRound.ttf')  format('truetype'), url('MasterpieceUniRound.svg#MasterpieceUniRound') format('svg');
  font-weight: normal;
  font-style: normal;
}
